.store-allotment-section{
    padding: 10px;
    display: flex;
    width: 100%;
}
/* StoreSelect.css */
.card-section{
    width: 100%;
    display: flex;
}
.cart-section{
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    height: 100vh;
    overflow-y: auto;
    width: 40%;
    margin: 10px;
}
.table-container-card{
    width: 50%;
    padding: 10px;
    margin: 10px;
}
.container-card{
    width: 70%;
    display: flex;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
}
.table-container {
    margin-top: 20px;
    padding: 10px;
  }
  
  .table-container select {
    margin-right: 10px;
  }
  
  .table-container table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
  }
  
  .table-container th {
    background-color: #f2f2f2;
  }
  
  .table-container img {
    max-width: 50px;
  }
  .image-item {
    width: 150px;
  }
  .action-buttons{
    display: flex;
  }
  .action-buttons input{
    width: 35px;
    text-align: center;
  }
  .action-buttons .plus{
    border: none;
    background-color: rgb(113, 223, 113);
    color: black;
    font-weight: bolder;
  }
  .action-buttons .minus{
    border: none;
    background-color: red;
    color: black;
    font-weight: bolder;
  }
  .search-input-container {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    border: 1px solid #dfdfe0;
    display: flex;
    background-color: #dfdfe0;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .action-container{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    margin-top: 20px;
  }
  .action-container button{
    border: none;
    background-color: green;
    width: auto;
    border-radius: 5px;
    color: white;
    padding: 8px;
    

  }
  .search-input-container input {
    border: none;
    font-size: 15px;
    background-color: #dfdfe0;
    outline: none;
    height: 40px;
  }
  .cart-headings{
    font-size: 25px;
    font-weight: bold;
  }
  .place-order{
    display: flex;
    /* justify-content: center; */
  }
.place-order button{
    width: auto;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 47, 201);
    color: white;
}
.no-items{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.cart-header-section{
    width: 100%;
    padding-left: 10px;
}
.cart-remove-btn{
    width: auto;
    padding: 8px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;
}
.cart-remove-btn:hover{
    background-color: red;
}

.export-btn {
    width: 130px;
    height: 45px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #0eb162;
    font-size: 15px;
  }
  
  .export-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 10px;
  }

  @media only screen and (max-width: 768px) {
    .search-input-container input {
        border: none;
        font-size: 15px;
        background-color: #dfdfe0;
        outline: none;
        height: 40px;
        width: 50%;
      }
      .search-input-container {
        width: 100%;
        height: 45px;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid #dfdfe0;
        display: flex;
        background-color: #dfdfe0;
        justify-content: space-between;
        margin-bottom: 20px;
      }

  }





  